<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ONLY FOR DEVELOPMENT -->
    <script type="module">
      import RefreshRuntime from 'http://localhost:3000/@react-refresh'
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => (type) => type
      window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <!-- ONLY FOR DEVELOPMENT -->
    <title>Vite App</title>
  </head>
  <body>
      {{> header}}
    <main>
      <h2>Frontend tooling with Vite.js</h2>
      <p>Prototype for demonstration purposes. Attempt of building the
      necessary usecases to use vite.js as alternative to webpack. The aim is to
      provide a frontend prototype for building typo3 templates and the therefor
      needed assets.</p>
      <h3>Used Plugins</h3>
      (This list is using a custom handlebars helper!)

      <!-- Example for using a custom handlebars helper -->
        {{#list plugins}}
          <a href="{{ link }}">{{ name }}</a>
        {{/list}}
      <!-- Example for using a custom handlebars helper -->
      <h3>Things already are working and stuff to figure out</h3>
      {{> list}}
    </main>
      {{> footer }}
    <script type="module" src="/main.js"></script>
  </body>
</html>
