<ul class="list-checked">
  <li>Production
    <ul class="list-checked">
      <li>Tree shaking</li>
      <li>Dependency resolution/Code splitting</li>
      <li>Content hashing</li>
      <li>Minification</li>
      <li>manifest.json</li>
    </ul>
  </li>
  <li>Development
    <ul class="list-checked">
      <li>Templating with Handlebars</li>
      <li>Native support of CSS preprocessors</li>
      <li>Creation of multiple views for prototyping with use of the multi-page app support</li>
      <li>Using single React Components</li>
      <li>Serving static files</li>
      <li>Sourcemaps</li>
    </ul>
  </li>
  <li>Ecosystem
    <ul class="list-checked">
      <li>Templates for all major Frameworks with TS support</li>
      <li>A ton of <a href="https://github.com/vitejs/awesome-vite#templates">Boilerplate Projects</a></li>
    </ul>
  </li>
</ul>

<ul class="list-open">
  <li>Development
    <ul class="list-open">
      <li><a href="https://github.com/evont/vite-plugin-spritesmith">SVG Sprites</a></li>
      <li>TypeScript has to tested</li>
      <li>Prettier has to be implemented</li>
      <li>Eslint has to be implemented</li>
    </ul>
  </li>
  <li>Production optimiziation
    <ul class="list-open">
      <li>Polyfilling and Transpiling: Babel seems to be available as compatible <a href="https://vitejs.dev/guide/api-plugin.html#conditional-application">Rollup Plugin</a> also check <a href="https://vitejs.dev/config/#build-target=">native options</a></li>
      <li>Exporting CSS/SCSS Variables</li>
      <li><a href="https://github.com/alloc/vite-plugin-compress">Compression and Image Optimization</a></li>
    </ul>
  </li>
</ul>
