<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
      {{> header}}
    <main>
      <h2>FAQ</h2>
      <p>WIP ¯\_(ツ)_/¯</p>
    </main>
      {{> footer }}
    <script type="module" src="/main.js"></script>
  </body>
</html>
