<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    {{> header}}
    <main>
      <h2>Oh no on this page is no react compontent…😮</h2>
      <p>…but if you take a look we don't even load the javascript for react!🤯
      </p>
      <p>And instead a static script was loaded!</p>
      <h2>Support the EFF</h2>
      <img src="/src/assets/img/eff-logo.png" alt="Logo of the Electronic Frontier Foundation">
    </main>
    {{> footer }}
    <script type="module" src="/main.js"></script>
    <script src="/static-script.js"></script>
  </body>
</html>
