<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
      {{> header}}
    <main>
      <h2>A lot of react components!</h2>
      <p>Yeah, we all know you always wanted to know how often you did click
      that button.</p>
      <p>Ahh… and by the way vite.js knew that it needed to import the
      javascript for react. Check it out!</p>
      {{> columns-three}}
    </main>
      {{> footer }}
    <script type="module" src="/main.js"></script>
  </body>
</html>
