<header class="header">
    <a href="/" class="logo">
      <img src="/src/assets/img/logo.svg" alt="vitejs logo"> 
      <h1>ViteO3</h1>
    </a>
  {{!-- <p>Using a handlebars variabel: {{ title }} </p> --}}
  {{> nav}}
</header>
