header {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, #49c7ff, #8e70fe, #bd34fe);
  border-image-slice: 1;
  padding: 20px 16px 0 16px;
  margin-bottom: 50px;
  height: 100px;

  .logo {
    position: absolute;
    display: flex;
    text-decoration: none;
    align-items: center;


    img {
      height: 60px;
      margin-right: 30px;
    }

    h1 {
      font-size: 1.6rem;
      margin: 0;

    }
  }
}

@media screen and (min-width: 900px){
  header {
    flex-direction: row;
    justify-content: space-between;

    .logo {
      align-items: center;
      position: initial;
    }
  }
}
