* {
  box-sizing: border-box;
}

body {
  background: #212529;
  color: #dee2e6;
  font-family: open-sans;
}

main {
  min-height: 500px;
  padding: 32px;
}

a {
  color: #8ed6fb;
}

h1 {
  font-family: roboto;
}

@font-face {
    font-family: 'open-sans';
    src: url('./src/assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./src/assets/fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
