<input id="nav-toggle" type="checkbox">
<label for="nav-toggle" class="nav-toggle__label"><span></span></label>
<nav role="navigation" aria-label="Navigation">
  <ul>
    <li><a href="views/documentation.html">Documentation</a></li>
    <li><a href="views/faq.html">FAQ</a></li>
    <li><a href="views/noreact.html">No react</a></li>
    <li><a href="views/react.html">React</a></li>
  </ul>
</nav>
