nav {
  position: absolute;
  font-family: roboto;
  font-size: 1.5rem;
  text-align: left;
  top: 0;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 100px;
  padding-left: 80px;
  border-top: 1px solid #343a40;
  background-color: #212529;
  transform: translate(100vw);
  transition: transform 200ms ease-in-out;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: #dee2e6;
    &:hover {
      color: #8ed6fb;
    }
  }

}


.nav-toggle__label {
 position: absolute; 
 right: 20px;
 top: 30px;
 cursor: pointer;
 height: 40px;
 padding: 0 10px;

 span,
 span::before,
 span::after {
   display: block;
   background: white;
   height: 2px;
   width: 25px;
   border-radius: 2px;
   position: relative;
 }

 span::before,
 span::after {
   content: '';
   position: absolute;
 }

 span {
  top: 20px;
 }

 span::before{
   bottom: 7px;
 }

 span::after{
   top: 7px;
 }

}

#nav-toggle {
  display: none;

  &:checked ~ nav {
    transform: translate(-16px);
    transition: transform 200ms ease-in-out;
  }
}

@media screen and (min-width: 900px){
  nav {
    position: initial;
    transform: initial;
    height: 100px;
    margin: 0;
    padding: 0;
    border: none;
    width: initial;

    ul {
      display: flex;
      margin: 0;
    }
    li {
      font-size: 1rem;
    }
  }
  .nav-toggle__label {
    display: none;
  }
}
